@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

html,
body {
    background-color: #fcd9c5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-header);
}

*,
*::after,
*::before,
*:not(h1, h2, h3, h4, h5, h6) {
    font-family: var(--font-common);
}

.button {
    @apply rounded bg-yellow-600 px-4 py-2 text-white hover:bg-yellow-700;
}

button:not([type='button']) {
    @apply button;
}

.input {
    @apply rounded border border-solid border-[#FCD9C5] px-4 py-2;
}

input {
    @apply input;
}

.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}
